<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	<title>Milestone</title>
	<div class="bg"></div>
	<div class="bg bg2"></div>
	<div class="bg bg3"></div>
</head>
<header>
	<!-- Navigation bar aka banner-->
	<nav class="navbar fixed-top navbar-expand-lg bg-light">
		<div class="container-fluid">
			<img src="/images/logo.png" alt="image" width="50" class="mb-1">
			<a class="navbar-brand" href="/">Milestone</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<style type="text/css">
        		.chartBox{

           			width: 200px;
        		}

    		</style>

			{{!-- Nav Links --}}
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{{#if logged_in}}
					<button id="logout" class="btn-no-style">Logout</button>

					</li>	
						{{else}}
					<li class="nav-item"></li>
						<a class="nav-link" href="/login">Login</a>
						{{/if}}
					</li>

					<li class="nav-item">
						<a class="nav-link" href="https://www.chartjs.org/" target="_blank">Chart.js</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://party.js.org/" target="_blank">Party.js</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/Kingnick253/MILESTONE" target="_blank">GitHub</a>
					</li>
					{{!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">Resources</a> --}}
						{{!-- <ul class="dropdown-menu">
							<li><button class="dropdown-item active" type="button" aria-current="true"
									onclick="window.location.href='https://www.chartjs.org/';">
									Chart.js</button></li>

							<li><button class="dropdown-item active" type="button" aria-current="true"
									onclick="window.location.href='https://party.js.org/';">
									Party.js
								</button></li> --}}
							{{!-- <li><button class="dropdown-item active" type="button" aria-current="true"
									onclick="window.location.href='https://github.com/Kingnick253/MILESTONE';">
									GitHub
								</button></li> --}}
						{{!-- </ul> --}}
				</ul>
			</div>
		</div>
	</nav>
</header>

<body>
	{{!-- <div class="login card">
	<div class="card-body">
	
	<h1>Login</h1> --}}

	{{{body}}}

	

	{{!-- <p>Don't have an account? <a href="/signup">Create an account here</a></p>
    </div>
     </div> --}}
</body>

<footer class="bg-light">
  <div class="container" >
    <div class="row py-4">
      <div class="col-lg-6 col-md-6 mb-6 mb-lg-6"><img src="/images/logo.png" alt="" width="100" class="mb-3">
        <p class="font-italic text-muted">Milestone is here to make sure all your project tasks get checked off of your
          list.
        </p>
        <div class="py-0">
          <div class="container text-center">
            <p class="font-italic text-muted">© 2022 Milestone All rights reserved.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">The Team</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="https://github.com/Kingnick253" target="_blank" class="text-muted">Nicholas Webb</a>
          </li>
          <li class="mb-2"><a href="https://github.com/alka485" target="_blank" class="text-muted">Alka Sah</a></li>
          <li class="mb-2"><a href="https://github.com/thegwanj" target="_blank" class="text-muted">Gwanju Chung</a>
          </li>
          <li class="mb-2"><a href="https://github.com/BriMoreno" target="_blank" class="text-muted">Britania Moreno</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}

</html>