<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="./layouts/assets/style.css">
  <title>Milestone</title>
  <div class="bgpp"></div>
  <div class="bgpp bgpp2"></div>
  <div class="bgpp bgpp3"></div>
</head>
<header>
  <!-- Navigation bar aka banner-->
  <nav class="navbar fixed-top navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img src="../public/images/logo.png" alt="" width="50" class="mb-1">
      <a class="navbar-brand" href="./homepage.html">Milestone</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link">Logout</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://www.chartjs.org/" target="_blank">Chart.js</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://party.js.org/" target="_blank">Party.js</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/Kingnick253/MILESTONE" target="_blank">GitHub</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

<body>
 
  <!--User card-->
  <aside class="user-card">
    <div class="container p-3 d-flex justify-content-left">
      <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
            class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
          </svg>
          <span class="name mt-3">Username</span>
        </div>
      </div>
  </aside>
  <section class="instuctions">
    <div class="card" style="width: 70rem;">
      <div class="card-body" id="#instuctions">
        <h2>How to add a project</h2>
        <ul>
          <li>Click on the "add project button</li>
          <li>A new tab will open where you can input your project information</li>
          <li>Then you will be able to add your project tasks</li>
          <li>When finished you will be re-directed to this page and be able to view your project and tasks</li>
        </ul>
      </div>
      <div>
        <button class="btn btn-warning btn-md m-2" onclick="document.location='taskcreate.html'" target="_blank">Add
          Project</button>
      </div>
    </div>
  </section>

  <!--Display projects-->
  <main class="container-fluid project-list">
    <div class="row row-cols-lg-1 g-2">
      <div class="col-sm-9 bg-light p-2 border">
        <div class="card projectCard">
          <div class="card-body">
            <h5 class="card-title">project title</h5>
            <p class="card-text">Description</p>
            <button type="button" class="btn btn-warning" onclick="document.location='viewTask.html'">View Tasks</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>

  </main>
</body>

<footer class="bg-light">
  <div class="container" >
    <div class="row py-4">
      <div class="col-lg-6 col-md-6 mb-6 mb-lg-6"><img src="../public/images/logo.png" alt="" width="100" class="mb-3">
        <p class="font-italic text-muted">Milestone is here to make sure all your project tasks get checked off of your
          list.
        </p>
        <div class="py-0">
          <div class="container text-center">
            <p class="font-italic text-muted">© 2022 Milestone All rights reserved.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">The Team</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="https://github.com/Kingnick253" target="_blank" class="text-muted">Nicholas Webb</a>
          </li>
          <li class="mb-2"><a href="https://github.com/alka485" target="_blank" class="text-muted">Alka Sah</a></li>
          <li class="mb-2"><a href="https://github.com/thegwanj" target="_blank" class="text-muted">Gwanju Chung</a>
          </li>
          <li class="mb-2"><a href="https://github.com/BriMoreno" target="_blank" class="text-muted">Britania Moreno</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</html>