<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
		<link rel="stylesheet" href="./layouts/assets/style.css">
	<title>Milestone</title>
</head>
<header>
	<!-- Navigation bar aka banner-->
	<nav class="navbar fixed-top navbar-expand-lg bg-light">
		<div class="container-fluid">
			<img src="../public/images/logo.png" alt="" width="50" class="mb-1">
			<a class="navbar-brand" href="./homepage.html">Milestone</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="./loginpage.html">Login</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Resources
						</a>
						<ul class="dropdown-menu">
							<li><button class="dropdown-item active" type="button" aria-current="true"
									onclick="window.location.href='https://www.chartjs.org/';">
									Chart.js
								</button></li>

							<li><button class="dropdown-item active" type="button" aria-current="true"
									onclick="window.location.href='https://party.js.org/';">
									Party.js
								</button></li>
							<li><button class="dropdown-item active" type="button" aria-current="true"
									onclick="window.location.href='https://github.com/Kingnick253/MILESTONE';">
									GitHub
								</button></li>
						</ul>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
</header>

<body>
	<div class="login card">
		<div class="card-body">
		<h1>Login</h1>
		<p>Don't have an account? <a href="./layouts/signup.html">Create an account here</a></p>
		<form action="/auth" method="post">
			<label for="username">
				<!-- font awesome icon -->
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="username" placeholder="Username" id="username" required>
			<label for="password">
				<i class="fas fa-lock"></i>
			</label>
			<input type="password" name="password" placeholder="Password" id="password" required>
			<input type="submit" value="Login">
		</form>
		</div>
	</div>

</body>

<footer class="bg-white">
	<div class="container py-5">
		<div class="row py-4">
			<div class="col-lg-6 col-md-6 mb-6 mb-lg-6"><img src="./layouts/assets/logo.png" alt="" width="150"
					class="mb-3">
				<p class="font-italic text-muted">Milestone is here to make sure all your goals get checked off of your
					list.
				</p>
			</div>

			<div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
				<h6 class="text-uppercase font-weight-bold mb-4">The Team</h6>
				<ul class="list-unstyled mb-0">
					<li class="mb-2"><a href="https://github.com/Kingnick253" class="text-muted">Nicholas Webb</a></li>
					<li class="mb-2"><a href="https://github.com/alka485" class="text-muted">Alka Sah</a></li>
					<li class="mb-2"><a href="#" class="text-muted">Gwanju Chung</a></li>
					<li class="mb-2"><a href="https://github.com/BriMoreno" class="text-muted">Britania Moreno</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	</div>
	</div>
	</div>
	<!-- Copyrights -->
	<div class="bg-light py-4">
		<div class="container text-center">
			<p class="text-muted mb-0 py-2">© 2022 Milestone All rights reserved.</p>
		</div>
	</div>
</footer>
</html>