
			
			<div class="login card">
		<div class="card-body">
		<h1>Login</h1>
		<p>Don't have an account?</p> <a href="/signup">Create an account here</a>
		<section>
			<label for="username">
				<!-- font awesome icon -->
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="username" placeholder="Username" id="username" required>
			<label for="password">
				<i class="fas fa-lock"></i>
			</label>
			<input type="password" name="password" placeholder="Password" id="password" required>
			<button type="button" value="Login" id="submit">Login</button>
		</section>
		</div>
	</div>

<script src="/js/login.js"></script>
