<body>
  <div class="card task-form">
  <div class="card-body mt-5">
  <form>
    <div class="form-group">
      <!--Input title-->
      <h1>Create Tasks</h1>
      <label for="exampleFormControlTextarea1">Task Title</label>
      <textarea class="form-control" id="Task Title"rows="1"></textarea>
    </div>
   
    <div class="form-group">
        <!--Input desc-->
      <label for="exampleFormControlTextarea1">Task Description</label>
      <textarea class="form-control" id="Task Description" rows="3"></textarea>
    </div>
    <a type="button" class="btn btn-primary btn-sm mt-2">Next</a>
  </form>
  </div>
  </div>
</body>

