  <div class="chartBox">
    <canvas id="myChart"></canvas>
    </div>  

   <button onclick ="createPieChart()">click me</button>
   <button onclick ="tasksComplete()">Task is done</button>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="/js/chart.js"></script>
