    <main class="container-fluid task-list">
        <div class="row row-cols-lg-1 g-2">
            <div class="col-sm-9 bg-light p-2 border">
                <div class="card projectCard">
                    <div class="card-body">
                        <h5 class="card-title">Task</h5>
                        <p class="card-text">Description</p>
                        <button type="button" id="partyBtn" class="btn btn-warning" onmousedown="party.confetti(this)">Complete</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>

    </main>