  <div class="card task-form">
  <div class="card-body taskBody m-0">
  <form>
    <div class="form-group">
      <!--Input title-->
      <h1>Create Tasks</h1>
      <label for="exampleFormControlTextarea1">Task Title</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div>
   
    <div class="form-group">
        <!--Input desc-->
      <label for="exampleFormControlTextarea1">Task Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary btn-lg mt-2" onclick="document.location='projectpage.html'">Next</button>
  </form>
  </div>
  </div>